<!DOCTYPE html>
<html>
<head>
    <title>Projektraum | Christian Karrié Webdevelopement</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}projectroom/base.css" type="text/css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300|Ubuntu+Condensed|Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.btn').button();
            $('#tabs').tabs();
            $('a[title]').tooltip();
        });
    </script>
    {% block js %}
    {% endblock js %}
</head>
<body>
<div id="page">
    <div id="menu">
    <p>
        {% if user.is_authenticated %}
        Angemeldet als {{ user }}. <a href="{% url 'pr_logout' %}">Abmelden </a>
        {% else %}
        Sie sind nicht angemeldet. <a href="{% url 'pr_login' %}">Anmelden </a>
        {% endif %}
    </p>

    </div>
    <div id="content">

        <h1><a href="{% url 'dashboard' %}">Projektraum</a></h1>



        <ul class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            {% block breadcrumbs %}
            {% endblock breadcrumbs %}
        </ul>

        {% block content %}
        {% endblock content %}



    </div>

    <div id="footer">
        <p style="text-align: center">&copy; 2013 Christian Karrié &middot; <a href="https://bitbucket.org/ckarrie/karrie-django-projectroom">Code karrie-django-projectroom</a></p>

    </div>

</div>
</body>
</html>