{% extends 'projectroom/base.html' %}
{% load mptt_tags %}

{% block breadcrumbs %}
{% endblock %}


{% block js %}
<style type="text/css">
    #ticketitems {
        float: left;
        width: 50em;
    }

    #sidebar {
        float: right;
        width: 20em;
        background:#c9c;
    }

</style>
{% endblock js %}

{% block content %}

    <h2>Dashboard</h2>

    <div id="ticketitems">
        <h3>Neuste Änderungen</h3>
        {% for item in latest_ticketitems %}
            <div class="ticketitem">
                <p class="ticketitemmeta">{{ item.created|timesince }} von {{ item.creator }}</p>
                <p><a href="{{ item.ticket.get_absolute_url }}">Ticket #{{ item.ticket.pk }}: {{ item.ticket }}</a></p>
                <p><span class="small">In Projekt {{ item.ticket.job.project }} &raquo; Auftrag
                {% for job in item.ticket.job.get_path %}
                    <a href="{{ job.get_absolute_url }}">{{ job }}</a>
                    {% if not forloop.last %}
                        /
                    {% endif %}
                {% endfor %}
                </span> </p>
                {% if item.tickettext_set.exists %}
                    <quote>Ticketbeschreibung hinzugefügt: {{ item.tickettext_set.all.0.text|truncatewords:4 }} </quote>
                {% endif %}

                {% if item.ticketstatuschange_set.exists %}
                    <quote>Statusänderung auf {{ item.ticketstatuschange_set.all.0.get_post_status_display }}</quote>
                {% endif %}

                {% if item.ticketaccountentry_set.exists %}
                    <quote>Abbuchung von {{ item.ticketaccountentry_set.all.0.accountentry.value }} {{ item.ticketaccountentry_set.all.0.accountentry.get_currency_display }} von Konto {{ item.ticketaccountentry_set.all.0.accountentry.account }} erfolgt</quote>
                {% endif %}
            </div>

        {% empty %}
            <p>Es existiert keine Ticketbeschreibung</p>
        {% endfor %}

    </div>

    <div id="sidebar">
        <h3>Meine Projekte</h3>
        <ul>
        {% for project in my_projects %}
            <li><a href="{% url 'job_list' project__slug=project.slug %}">{{ project }}</a> ({{ project.client_company }})</li>
        {% endfor %}
        </ul>
    </div>



{% endblock %}